<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
			  <add name="HttpSoap12"/>
			  <add name="HttpSoap"/>
		  </protocols>
	  </webServices>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>
	<connectionStrings>
		<!--<add name="Loanworks" connectionString="Data Source=LWPHILDT_02;Initial Catalog=Loanworks_v10R9_Dev;Persist Security Info=True;User ID=sa;Password=fred"/>-->
		<add name="Loanworks" connectionString="Data Source=NSERVTEST\MSSQL2008;Initial Catalog=Loanworks_v10R9_Dev;Persist Security Info=True;User ID=sa;Password=fred"/>
		<!--<add name="LoanServDevelopment"  connectionString="Data Source=NSERV03;Initial Catalog=LoanWareDevV1_0;Persist Security Info=True;User ID=sa;Password=Benami123" providerName="System.Data.SqlClient" />-->
		<add name="LoanServDevelopment" connectionString="Data Source=web0201.sintex.com.au\msssql2012;Initial Catalog=Loanware;Persist Security Info=True;User ID=sa;Password=eKY6CtaHFATuf4zVGxCm" providerName="System.Data.SqlClient" />
    <!--<add name="LoanServDevelopment" connectionString="Data Source=NSERV03;Initial Catalog=LoanWare;Persist Security Info=True;User ID=sa;Password=Benami123" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="UserID" value="1"/>
		<!--<add key="incomingsoapusername" value="LW_Service"/>
		<add key="incomingsoappassword" value="L0anw0rk$"/>-->
		<add key="incomingsoapusername" value="test"/>
		<add key="incomingsoappassword" value="test"/>
	</appSettings>
	
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
 </system.serviceModel>
</configuration>
